body {
    position: relative;    
}
#title{
    text-align: center;
    background-color: blue;
    width: 100%;
}
#title h1{    
    background-color: yellow;
    line-height: 150px;
}
ul.nav-pills {
    top: 150px;
    position: fixed;
}
/*div.col-8 div {
    height: 1000px;
}*/
#section3 li:hover{
    background-color: deepskyblue;
}